{% extends "common.html" %}
{% load static %}
{% block main_content %}


<table class=" container table table-bordered text-center" style="margin-top: 70px;">
    <thead class="table-dark">
        <tr>
            <th>Color 1</th>
            <th>Color 2</th>
            <th>Style Vibe</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <span class="color-box" style="background-color: black;"></span> Black
            </td>
            <td>
                <span class="color-box" style="background-color: white; border: 1px solid #ddd;"></span> White
            </td>
            <td>Classic & Chic 👫</td>
        </tr>
        <tr>
            <td>
                <span class="color-box" style="background-color: navy;"></span> Navy Blue
            </td>
            <td>
                <span class="color-box" style="background-color: beige;"></span> Beige
            </td>
            <td>Smart & Polished 👫</td>
        </tr>
        <tr>
            <td>
                <span class="color-box" style="background-color: gray;"></span> Gray
            </td>
            <td>
                <span class="color-box" style="background-color: pink;"></span> Pastel Pink
            </td>
            <td>Soft & Modern 👫</td>
        </tr>
        <tr>
            <td>
                <span class="color-box" style="background-color: red;"></span> Red
            </td>
            <td>
                <span class="color-box" style="background-color: black;"></span> Black
            </td>
            <td>Bold & Confident 👫</td>
        </tr>
        <tr>
            <td>
                <span class="color-box" style="background-color: green;"></span> Green
            </td>
            <td>
                <span class="color-box" style="background-color: brown;"></span> Brown
            </td>
            <td>Earthy & Sophisticated 👫</td>
        </tr>
        <tr>
            <td>
                <span class="color-box" style="background-color: purple;"></span> Purple
            </td>
            <td>
                <span class="color-box" style="background-color: yellow;"></span> Yellow
            </td>
            <td>Creative & Playful 👫</td>
        </tr>
        <tr>
            <td>
                <span class="color-box" style="background-color: lightpink;"></span> Blush Pink
            </td>
            <td>
                <span class="color-box" style="background-color: white; border: 1px solid #ddd;"></span> White
            </td>
            <td>Romantic & Feminine 👫</td>
        </tr>
        <tr>
            <td>
                <span class="color-box" style="background-color: skyblue;"></span> Sky Blue
            </td>
            <td>
                <span class="color-box" style="background-color: white; border: 1px solid #ddd;"></span> White
            </td>
            <td>Fresh & Summery 👫</td>
        </tr>
        <tr>
            <td>
                <span class="color-box" style="background-color: rgb(128, 0, 32);"></span> Burgundy
            </td>
            <td>
                <span class="color-box" style="background-color: gold;"></span> Gold
            </td>
            <td>Luxurious & Elegant 👫</td>
        </tr>
        <tr>
            <td>
                <span class="color-box" style="background-color: darkgreen;"></span> Emerald Green
            </td>
            <td>
                <span class="color-box" style="background-color: #f5deb3;"></span> Champagne
            </td>
            <td>Rich & Classy 👫</td>
        </tr>
    </tbody>
</table>

<style>
    .color-box {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-right: 8px;
        border: 1px solid #ddd;
    }
</style>


{% endblock main_content %}