{% extends "common.html" %}
{% load static %}
{% block main_content %}

<div class="container ">

    <div class="dtrend">
        <img class="imgtrend " src="https://www.realsimple.com/thmb/Z8fdaJOYY22SjZ986EuMGUdlpWQ=/750x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-1496146972-ab30db30a8ee4a5081a2832c2e042b71.jpg" alt="Quiet Luxury">
        <h3 style="font-family: fantasy;" class="mb-3" >Quiet Luxury</h3>
        <p>Coinciding with the polished preppy aesthetic is quiet luxury, which is all about wearing pieces that look and feel super expensive but aren’t blazingly so. Think perfect tailoring and high-quality materials versus blingy branding. Also referred to as “old money style,” you can also dive into this latest fashion trend with accessories like bags, jewelry, and shoes. </p>
    </div>

    <div class="dtrend">
        <img class="imgtrend" src="https://www.realsimple.com/thmb/2Nzn5KEjaZYBpW9gEqNszIwyYhs=/750x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-1715271823-14b1804178f14980a0618f1c3ef240cb.jpg" alt="Polished Preppy">
        <h3 style="font-family: fantasy;" class="mb-3">Polished Preppy</h3>
        <p>While the “covid years” gave us permission to go full goblin mode and encouraged lounge dressing, fashion pros say the industry is now experiencing a direct pushback on ultra casual styles. 
        “Look for refined shapes and touches of prep and polish,” says Niki English, a stylist and apparel designer with over 15 years of industry experience. “Voluminous suiting in statement colors, along with the return of the polo shirt, signify a desire for this classic, crisp aesthetic.” </p>
    </div>

    <div class="dtrend">
        <img class="imgtrend" src="https://www.realsimple.com/thmb/xiNZttb9CakrToQpBEkY9NOuFCg=/750x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-1696612096-672ea69b67cf49e8b3eaddc4275dc6fa.jpg" alt="Grandpa Chic">
        <h3 style="font-family: fantasy;" class="mb-3">Grandpa Chic</h3>
        <p>It’s officially time to bid adieu to coastal grandma and instead usher in a new icon: eclectic grandpa. “Think retro streetwear, chic cardigans and customized clothing,” says Sydney Stanback, the global trends and insights lead for Pinterest. She says search terms like “grandpa style” and “eclectic clothing style” are surging +60% and +130% respectively. </p>
    </div>

    <div class="dtrend">
        <img class="imgtrend" src="https://www.realsimple.com/thmb/tdmdGJMFD0utjM88sphTalvaA9M=/750x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-829254956-55ba1e51bdec43dd8bc5c2032cd30c3b.jpg" alt="Jelly Fashion">
        <h3 style="font-family: fantasy;" class="mb-3">Jelly Fashion</h3>
        <p>Nods to ‘90s fashion continues its stronghold as we venture well into 2025, with jelly accessories enjoying a notable resurgence. “In 2025, every aspect of our lives will be inspired by our favorite invertebrate,” Stanback says. “Gen Z and Millennials are driving this squishy aesthetic, and incorporating it into their style by searching for things like ‘jellyfish hat’ and ‘jellyfish haircut.” Also very in: jelly shoes. </p>
    </div>

    <div class="dtrend">
        <img class="imgtrend" src="https://www.refinery29.com/images/11835335.jpg?format=jpg&width=1440&height=2160&quality=80" alt="Sports Style">
        <h3 style="font-family: fantasy;" class="mb-3">Sports Style</h3>
        <p>The rugby top was one of the purchases of 2024 and sport style is going to be even bigger this year,” says Danielle Ward, attributing this to our growing support of women in sports. “We'll see a high-low mix: sporty tops worn with silk, lace, and leather, and sports-style jackets with staple straight-legs and loafers.</p>
    </div>
</div>

<style>
    .dtrend {
        width: 600px;
        margin-top: 100px;
        margin: auto;
        margin-bottom: 80px;
    }

    .container{
        margin-top: 90px;
    }
    .imgtrend {
        width: 500px;
            /* height: 600px;  */
            margin: auto; 
            margin-bottom: 30px;
    }
</style>

{% endblock main_content %}